# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/build
/public/assets/video
/public/assets/images
/build.zip
.pnp
.pnp.js
/.env

# testing
/coverage


# misc
.DS_Store

.env.development.local
.env.test.local
.env.production.local

gitnpm-debug.log*
yarn-debug.log*
yarn-error.log*
