 /* Additional custom styling */
 .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-custom {
  width: 250px;
  margin-top: 20px;
}